body {
    font-family: Helvetica, Arial;
    background-color: #333;
}

#container {
    width: 960px;
    margin: 10px auto;
    border: 1px solid #444;
    padding: 0;
    background-color: #fff;
}

.logo {
    width: 75px;
    margin: 20px 0px 00px 20px;
}

#nav {
    background-color: #333;
}

#nav ul {
    list-style-type: none
    margin: 0;
    padding: 10px 0px;
}

#nav ul li {
    display: inline;
    border-right: 1px solid #ccc;
    padding: 0px 20px;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
}

h1 {
    margin: 0px 0px 15px 0px;
    padding: 0;
    font-weight: 400;
}

#content {
    padding: 20px;
    overflow: hidden;

}

#content img {
    float: left;
    height: 270px;
    margin-right: 40px;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 10px 10px 10px #ddd;
}

#content h2 {
    color: rgb(98,170,47);
    font-size: 42px;
    text-align: center;
    padding-top: 25px;
}

#footer {
    clear: both;
    background-color: rgb(71, 89, 64);
    padding: 10px;
    margin-top: 20px;
    font-size: 11px;
    letter-spacing: 1px;
    color: #ddd;
}

#footer p {
    text-align: center;
    color: #eee;
}